In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('movies.csv').iloc[:50,:]

print(df)

print(df.columns)

    adult                              belongs_to_collection    budget  \
0   False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1   False                                                NaN  65000000
2   False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3   False                                                NaN  16000000
4   False  {'id': 96871, 'name': 'Father of the Bride Col...         0
5   False                                                NaN  60000000
6   False                                                NaN  58000000
7   False                                                NaN         0
8   False                                                NaN  35000000
9   False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
10  False                                                NaN  62000000
11  False                                                NaN         0
12  False  {'id': 117693, 'name': 'Balto Collection', 'po...         0
13  False                                                NaN  44000000
14  False                                                NaN  98000000
15  False                                                NaN  52000000
16  False                                                NaN  16500000
17  False                                                NaN   4000000
18  False  {'id': 3167, 'name': 'Ace Ventura Collection',...  30000000
19  False                                                NaN  60000000
20  False  {'id': 91698, 'name': 'Chili Palmer Collection...  30250000
21  False                                                NaN         0
22  False                                                NaN  50000000
23  False                                                NaN         0
24  False                                                NaN   3600000
25  False                                                NaN         0
26  False                                                NaN  12000000
27  False                                                NaN         0
28  False                                                NaN  18000000
29  False                                                NaN         0
30  False                                                NaN         0
31  False                                                NaN  29500000
32  False                                                NaN         0
33  False  {'id': 9435, 'name': 'Babe Collection', 'poste...  30000000
34  False                                                NaN         0
35  False                                                NaN  11000000
36  False                                                NaN         0
37  False                                                NaN         0
38  False                                                NaN  12000000
39  False                                                NaN         0
40  False                                                NaN         0
41  False                                                NaN  10000000
42  False                                                NaN  19000000
43  False  {'id': 9818, 'name': 'Mortal Kombat Collection...  18000000
44  False                                                NaN  20000000
45  False                                                NaN  10000000
46  False                                                NaN  33000000
47  False  {'id': 136214, 'name': 'Pocahontas Collection'...  55000000
48  False                                                NaN         0
49  False                                                NaN   6000000

                                               genres  \
0   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                      [{'id': 35, 'name': 'Comedy'}]
5   [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6   [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11  [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20  [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                      [{'id': 18, 'name': 'Drama'}]
26  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28  [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
30  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
31  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
32  [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...
33  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
34  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
35                      [{'id': 18, 'name': 'Drama'}]
36  [{'id': 12, 'name': 'Adventure'}, {'id': 36, '...
37  [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
38  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
39                      [{'id': 18, 'name': 'Drama'}]
40  [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
41  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
42  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
43  [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
44  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
45  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
46  [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
47  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
48  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
49  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...

                                             homepage      id    imdb_id  \
0                http://toystory.disney.com/toy-story     862  tt0114709
1                                                 NaN    8844  tt0113497
2                                                 NaN   15602  tt0113228
3                                                 NaN   31357  tt0114885
4                                                 NaN   11862  tt0113041
5                                                 NaN     949  tt0113277
6                                                 NaN   11860  tt0114319
7                                                 NaN   45325  tt0112302
8                                                 NaN    9091  tt0114576
9        http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
10                                                NaN    9087  tt0112346
11                                                NaN   12110  tt0112896
12                                                NaN   21032  tt0112453
13                                                NaN   10858  tt0113987
14                                                NaN    1408  tt0112760
15                                                NaN     524  tt0112641
16                                                NaN    4584  tt0114388
17                                                NaN       5  tt0113101
18                                                NaN    9273  tt0112281
19                                                NaN   11517  tt0113845
20                                                NaN    8012  tt0113161
21                                                NaN    1710  tt0112722
22                                                NaN    9691  tt0112401
23                                                NaN   12665  tt0114168
24  http://www.mgm.com/title_title.do?title_star=L...     451  tt0113627
25                                                NaN   16420  tt0114057
26                                                NaN    9263  tt0114011
27                                                NaN   17015  tt0114117
28                                                NaN     902  tt0112682
29                                                NaN   37557  tt0115012
30                                                NaN    9909  tt0112792
31                                                NaN      63  tt0114746
32                                                NaN   78802  tt0114952
33                                                NaN    9598  tt0112431
34                                                NaN   47018  tt0112637
35                                                NaN     687  tt0112818
36                                                NaN  139405  tt0112286
37                                                NaN   33689  tt0113442
38                                                NaN    9603  tt0112697
39                                                NaN   34615  tt0112749
40                                                NaN   31174  tt0114279
41                                                NaN   11443  tt0112819
42                                                NaN   35196  tt0114272
43                                                NaN    9312  tt0113855
44                                                NaN     577  tt0114681
45                                                NaN   11861  tt0113347
46                         http://www.sevenmovie.com/     807  tt0114369
47                                                NaN   10530  tt0114148
48                                                NaN    8391  tt0114916
49  http://www.mgm.com/#/our-titles/2083/The-Usual...     629  tt0114814

   original_language                    original_title  \
0                 en                         Toy Story
1                 en                           Jumanji
2                 en                  Grumpier Old Men
3                 en                 Waiting to Exhale
4                 en       Father of the Bride Part II
5                 en                              Heat
6                 en                           Sabrina
7                 en                      Tom and Huck
8                 en                      Sudden Death
9                 en                         GoldenEye
10                en            The American President
11                en       Dracula: Dead and Loving It
12                en                             Balto
13                en                             Nixon
14                en                  Cutthroat Island
15                en                            Casino
16                en             Sense and Sensibility
17                en                        Four Rooms
18                en    Ace Ventura: When Nature Calls
19                en                       Money Train
20                en                        Get Shorty
21                en                           Copycat
22                en                         Assassins
23                en                            Powder
24                en                 Leaving Las Vegas
25                en                           Othello
26                en                      Now and Then
27                en                        Persuasion
28                fr        La Cité des Enfants Perdus
29                zh                         摇啊摇，摇到外婆桥
30                en                   Dangerous Minds
31                en                    Twelve Monkeys
32                fr  Guillaumet, les ailes du courage
33                en                              Babe
34                en                        Carrington
35                en                  Dead Man Walking
36                en            Across the Sea of Time
37                en                      It Takes Two
38                en                          Clueless
39                en          Cry, the Beloved Country
40                en                       Richard III
41                en                   Dead Presidents
42                en                       Restoration
43                en                     Mortal Kombat
44                en                        To Die For
45                en     How To Make An American Quilt
46                en                             Se7en
47                en                        Pocahontas
48                en             When Night Is Falling
49                en                The Usual Suspects

                                             overview  ... release_date  \
0   Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1   When siblings Judy and Peter discover an encha...  ...   1995-12-15
2   A family wedding reignites the ancient feud be...  ...   1995-12-22
3   Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4   Just when George Banks has recovered from his ...  ...   1995-02-10
5   Obsessive master thief, Neil McCauley leads a ...  ...   1995-12-15
6   An ugly duckling having undergone a remarkable...  ...   1995-12-15
7   A mischievous young boy, Tom Sawyer, witnesses...  ...   1995-12-22
8   International action superstar Jean Claude Van...  ...   1995-12-22
9   James Bond must unmask the mysterious head of ...  ...   1995-11-16
10  Widowed U.S. president Andrew Shepherd, one of...  ...   1995-11-17
11  When a lawyer shows up at the vampire's doorst...  ...   1995-12-22
12  An outcast half-wolf risks his life to prevent...  ...   1995-12-22
13  An all-star cast powers this epic look at Amer...  ...   1995-12-22
14  Morgan Adams and her slave, William Shaw, are ...  ...   1995-12-22
15  The life of the gambling paradise – Las Vegas ...  ...   1995-11-22
16  Rich Mr. Dashwood dies, leaving his second wif...  ...   1995-12-13
17  It's Ted the Bellhop's first night on the job....  ...   1995-12-09
18  Summoned from an ashram in Tibet, Ace finds hi...  ...   1995-11-10
19  A vengeful New York transit cop decides to ste...  ...   1995-11-21
20  Chili Palmer is a Miami mobster who gets sent ...  ...   1995-10-20
21  An agoraphobic psychologist and a female detec...  ...   1995-10-27
22  Assassin Robert Rath arrives at a funeral to k...  ...   1995-10-06
23  Harassed by classmates who won't accept his sh...  ...   1995-10-27
24  Ben Sanderson, an alcoholic Hollywood screenwr...  ...   1995-10-27
25  The evil Iago pretends to be friend of Othello...  ...   1995-12-15
26  Waxing nostalgic about the bittersweet passage...  ...   1995-10-20
27  This film adaptation of Jane Austen's last nov...  ...   1995-09-27
28  A scientist in a surrealist society kidnaps ch...  ...   1995-05-16
29  A provincial boy related to a Shanghai crime f...  ...   1995-04-30
30  Former Marine Louanne Johnson lands a gig teac...  ...   1995-08-11
31  In the year 2035, convict James Cole reluctant...  ...   1995-12-29
32                                                NaN  ...   1996-09-18
33  Babe is a little pig who doesn't quite know hi...  ...   1995-07-18
34  The story of the relationship between painter ...  ...   1995-11-08
35  A justice drama based on a true story about a ...  ...   1995-12-29
36  A young Russian boy, Thomas Minton, travels to...  ...   1995-10-20
37  Identical 9-year-olds from very different back...  ...   1995-11-17
38  Shallow, rich and socially successful Cher is ...  ...   1995-07-19
39  A South-African preacher goes to search for hi...  ...   1995-12-15
40  Shakespeare's Play transplanted into a 1930s s...  ...   1995-12-29
41  Depicts a heist of old bills, retired from cir...  ...   1995-10-06
42  An aspiring young physician, Robert Merivel fo...  ...   1995-12-29
43  For nine generations an evil sorcerer has been...  ...   1995-08-18
44  Susan wants to work in television and will the...  ...   1995-05-20
45  Soon-to-be-wed graduate student Finn Dodd deve...  ...   1995-10-06
46  Two homicide detectives are on a desperate hun...  ...   1995-09-22
47  History comes gloriously to life in Disney's e...  ...   1995-06-14
48  A prudish woman, working on tenure as a litera...  ...   1995-05-05
49  Held in an L.A. interrogation room, Verbal Kin...  ...   1995-07-19

        revenue runtime                                   spoken_languages  \
0   373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1   262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2           0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3    81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4    76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
5   187436818.0   170.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
6           0.0   127.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
7           0.0    97.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
8    64350171.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
9   352194034.0   130.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
10  107879496.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
11          0.0    88.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
12   11348324.0    78.0           [{'iso_639_1': 'en', 'name': 'English'}]
13   13681765.0   192.0           [{'iso_639_1': 'en', 'name': 'English'}]
14   10017322.0   119.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
15  116112375.0   178.0           [{'iso_639_1': 'en', 'name': 'English'}]
16  135000000.0   136.0           [{'iso_639_1': 'en', 'name': 'English'}]
17    4300000.0    98.0           [{'iso_639_1': 'en', 'name': 'English'}]
18  212385533.0    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
19   35431113.0   103.0           [{'iso_639_1': 'en', 'name': 'English'}]
20  115101622.0   105.0           [{'iso_639_1': 'en', 'name': 'English'}]
21          0.0   124.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
22   30303072.0   132.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
23          0.0   111.0           [{'iso_639_1': 'en', 'name': 'English'}]
24   49800000.0   112.0           [{'iso_639_1': 'en', 'name': 'English'}]
25          0.0   123.0           [{'iso_639_1': 'en', 'name': 'English'}]
26   27400000.0   100.0           [{'iso_639_1': 'en', 'name': 'English'}]
27          0.0   104.0           [{'iso_639_1': 'en', 'name': 'English'}]
28    1738611.0   108.0  [{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...
29          0.0   108.0               [{'iso_639_1': 'zh', 'name': '普通话'}]
30  180000000.0    99.0           [{'iso_639_1': 'en', 'name': 'English'}]
31  168840000.0   129.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
32          0.0    50.0           [{'iso_639_1': 'en', 'name': 'English'}]
33  254134910.0    89.0           [{'iso_639_1': 'en', 'name': 'English'}]
34          0.0   121.0           [{'iso_639_1': 'en', 'name': 'English'}]
35   39363635.0   122.0           [{'iso_639_1': 'en', 'name': 'English'}]
36          0.0    51.0  [{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...
37          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
38          0.0    97.0  [{'iso_639_1': 'es', 'name': 'Español'}, {'iso...
39     676525.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
40          0.0   104.0           [{'iso_639_1': 'en', 'name': 'English'}]
41          0.0   119.0           [{'iso_639_1': 'en', 'name': 'English'}]
42          0.0   117.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
43  122195920.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df = df[['original_title','overview']]

print(df.head())

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview
0  Led by Woody, Andy's toys live happily in his ...
1  When siblings Judy and Peter discover an encha...
2  A family wedding reignites the ancient feud be...
3  Cheated on, mistreated and stepped on, the wom...
4  Just when George Banks has recovered from his ...

In [6]:
print(df.isnull().sum())

original_title    0
overview          1
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')

matrix = tf.fit_transform(df['overview'])

In [9]:
from sklearn.metrics.pairwise import linear_kernel

cosine_similarities = linear_kernel(matrix,matrix)

In [10]:
movie_title = df['original_title']

indices = pd.Series(df.index, index=df['original_title'])

def movie_recommend(original_title):

    idx = indices[original_title]

    sim_scores = list(enumerate(cosine_similarities[idx]))
    
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    sim_scores = sim_scores[1:31]

    movie_indices = [i[0] for i in sim_scores]

    return movie_title.iloc[movie_indices]

In [12]:
movie_recommend('Jumanji').head(10)

8         Sudden Death
5                 Heat
2     Grumpier Old Men
43       Mortal Kombat
31      Twelve Monkeys
25             Othello
17          Four Rooms
26        Now and Then
46               Se7en
27          Persuasion
Name: original_title, dtype: object

In [13]:
import mysql.connector as sql

In [30]:
db_connection = sql.connect(host='localhost', database='student_learning', user='root', password='')

In [31]:
db_cursor = db_connection.cursor()

In [32]:
db_cursor.execute('SELECT * FROM project')

In [33]:
table_rows = db_cursor.fetchall()

In [45]:
df = pd.DataFrame(table_rows)
df.columns = ['id', 'uid', 'title', 'keywords', 'abstract', 'file', 'date', 'status']
df

,id,uid,title,keywords,abstract,file,date,status
0,2,5,fraud detection,"machine learning, random forest algorithm, fra...",Credit card frauds are easy and friendly targe...,,"March 02, 2023 20:40 PM",public
1,3,4,social distancing,"machine learning, deep learning, ai",Social distancing refers to a host of public h...,,"March 01, 2023 20:38 PM",public
2,4,5,Women Safety,"andriod, safety, machine learning",Womenâ€™s safety is a big concern which has be...,doc.pdf,"April 11, 2023 17:12 PM",public
3,6,5,Disease Prediction,"machine learning, random forest algorithm, dis...",This article aims to implement a robust machin...,disease.pdf,"April 11, 2023 17:18 PM",public

In [46]:
df = df[['id','abstract']]

print(df.head())

   id                                           abstract
0   2  Credit card frauds are easy and friendly targe...
1   3  Social distancing refers to a host of public h...
2   4  Womenâ€™s safety is a big concern which has be...
3   6  This article aims to implement a robust machin...

In [47]:
df.dropna(inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')

matrix = tf.fit_transform(df['abstract'])

In [49]:
from sklearn.metrics.pairwise import linear_kernel

cosine_similarities = linear_kernel(matrix,matrix)

In [51]:
project_title = df['id']

indices = pd.Series(df.index, index=df['id'])

def project_recommend(title):

    idx = indices[title]

    sim_scores = list(enumerate(cosine_similarities[idx]))
    
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    sim_scores = sim_scores[1:31]

    project_indices = [i[0] for i in sim_scores]

    return project_title.iloc[project_indices]

In [54]:
project_recommend(2)

3    6
1    3
2    4
Name: id, dtype: int64